{
:default-app-name "Meissas awesome gitea"
:fqdn "test.de"
:issuer "staging"
:mailer-from "test@test.de"
:mailer-host-port "123"
:service-whitelist-domains "test.de"
:service-noreply-address "noreply@test.de"
 }
